body {
    background-color: #eeecdf;
    margin: 2px;
    font-family: "Segoe UI", sans-serif;
}

p {
    margin: 1px 0;
}

.label {
    font-size: 14px;
    font-weight: bold;
}

.questions, .question, .menu-container {
    border: 1px solid black;
    border-radius: 2px;
}

.all-container {
    display: flex;
    height: 100vh;
    gap: 5px;
}

.questions {
    height: 100vh;
    background-color: white;
    padding: 5px;
    overflow-y: auto;
}

.question {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.questions a {
    display: block;
    text-decoration: none;
    color: black;
}

.questions a.active {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #80c2ee
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.menu-container {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 5px;
}

.answers {
    background-color: white;
    flex: 1;
}

.send-answer {
    height: 50px;
    background-color: #eeecdf;
    flex-shrink: 0;
}

/*.link {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

/*.link:hover {*/
/*    background-color: #80c2ee;*/
/*}*/