<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обучение - 2. Непромышленные до 1000 В - III группа</title>
    <link rel="stylesheet" href="/css/group.css">
</head>
<body>

<div class="all-container">
    <div class="questions">
        <a th:href="@{/group3(question=${i})}"
           th:each="i : ${#numbers.sequence(1, questionsAmtGroup3)}"
           th:text="|Вопрос ${i}|"
           th:classappend="${questionNumber == i} ? ' active'"></a>
        <br>
    </div>
    <div class="right-container">
        <div class="menu-container">
            <div class="theme">
                <span>Сборник вопросов по курсу "Эксплуатация электроустановок непромышленных потребителей (IV группа до 1000 В)."</span>
            </div>
        </div>
        <span class="label">Текст вопроса</span>
        <div class="question">
            <span th:text="|Вопрос ${questionNumber}: ${currentQuestion.question}|"></span>
        </div>
        <span class="label">Варианты ответов</span>
        <div class="answers">
            Список ответов
        </div>
        <div class="send-answer">
            Кнопка ответить
        </div>
    </div>

</div>

</body>
</html>